<main class="container">
    <%= link_to sanitize("&larr; Back to poem books"), poem_books_path %>

    <div class="header">
        <h1>New Poem Book</h1>
    </div>

    <%= turbo_frame_tag @poem_book do %>
        <%= render "form", poem_book: @poem_book %>
    <% end %>
</main>
